---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<div class="highlight-python notranslate" id="docs-user_guide-geo.bokeh-content-1063c547b8494ed0951380f9c8f9ec68-docs-user_guide-geo.js"><div class="highlight"><pre><span></span><span class="kn">import</span> <span class="nn">json</span>

<span class="kn">from</span> <span class="nn">bokeh.io</span> <span class="kn">import</span> <span class="n">output_file</span><span class="p">,</span> <span class="n">show</span>
<span class="kn">from</span> <span class="nn">bokeh.models</span> <span class="kn">import</span> <span class="n">GeoJSONDataSource</span>
<span class="kn">from</span> <span class="nn">bokeh.plotting</span> <span class="kn">import</span> <span class="n">figure</span>
<span class="kn">from</span> <span class="nn">bokeh.sampledata.sample_geojson</span> <span class="kn">import</span> <span class="n">geojson</span>

<span class="n">output_file</span><span class="p">(</span><span class="s2">"geojson.html"</span><span class="p">)</span>

<span class="n">data</span> <span class="o">=</span> <span class="n">json</span><span class="o">.</span><span class="n">loads</span><span class="p">(</span><span class="n">geojson</span><span class="p">)</span>
<span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="nb">len</span><span class="p">(</span><span class="n">data</span><span class="p">[</span><span class="s1">'features'</span><span class="p">])):</span>
    <span class="n">data</span><span class="p">[</span><span class="s1">'features'</span><span class="p">][</span><span class="n">i</span><span class="p">][</span><span class="s1">'properties'</span><span class="p">][</span><span class="s1">'Color'</span><span class="p">]</span> <span class="o">=</span> <span class="p">[</span><span class="s1">'blue'</span><span class="p">,</span> <span class="s1">'red'</span><span class="p">][</span><span class="n">i</span><span class="o">%</span><span class="mi">2</span><span class="p">]</span>

<span class="n">geo_source</span> <span class="o">=</span> <span class="n">GeoJSONDataSource</span><span class="p">(</span><span class="n">geojson</span><span class="o">=</span><span class="n">json</span><span class="o">.</span><span class="n">dumps</span><span class="p">(</span><span class="n">data</span><span class="p">))</span>

<span class="n">TOOLTIPS</span> <span class="o">=</span> <span class="p">[</span>
    <span class="p">(</span><span class="s1">'Organisation'</span><span class="p">,</span> <span class="s1">'@OrganisationName'</span><span class="p">)</span>
<span class="p">]</span>

<span class="n">p</span> <span class="o">=</span> <span class="n">figure</span><span class="p">(</span><span class="n">background_fill_color</span><span class="o">=</span><span class="s2">"lightgrey"</span><span class="p">,</span> <span class="n">tooltips</span><span class="o">=</span><span class="n">TOOLTIPS</span><span class="p">)</span>
<span class="n">p</span><span class="o">.</span><span class="n">circle</span><span class="p">(</span><span class="n">x</span><span class="o">=</span><span class="s1">'x'</span><span class="p">,</span> <span class="n">y</span><span class="o">=</span><span class="s1">'y'</span><span class="p">,</span> <span class="n">size</span><span class="o">=</span><span class="mi">15</span><span class="p">,</span> <span class="n">color</span><span class="o">=</span><span class="s1">'Color'</span><span class="p">,</span> <span class="n">alpha</span><span class="o">=</span><span class="mf">0.7</span><span class="p">,</span> <span class="n">source</span><span class="o">=</span><span class="n">geo_source</span><span class="p">)</span>

<span class="n">show</span><span class="p">(</span><span class="n">p</span><span class="p">)</span>
</pre></div>
</div>

{% include base_path %}
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

{% include social-share.html %}
{% include comments.html %}
