---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <meta  property="fb:app_id"  content="335040264869443"  />
    <meta  property="fb:admins"  content="yonas.mersha"/>
    <meta  property="og:url"  content="URL"  />
    <meta  property="og:title"  content="TITLE"  />
    <meta  property="og:description"  content="DESC"  />
    <meta  property="og:image"  content="IMG"  />
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
    
<meta  property="fb:app_id"  content="335040264869443"  />
<meta  property="fb:admins"  content="yonas.mersha"/>
<meta  property="og:url"  content="URL"  />
<meta  property="og:title"  content="TITLE"  />
<meta  property="og:description"  content="DESC"  />
<meta  property="og:image"  content="IMG"  />
  
</html>
  <div  id="fb-root"></div>
  <script>(function(d, s, id) {
      var  js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=335040264869443";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
